[tool.poetry]
name = "subclean"
version = "0.1.0"
description = "Simple CLI to instantly enhance your movie & TV show subtitles."
authors = ["disrupted <hi@salomonpopp.me>"]
license = "GPL-3.0"
readme = "README.md"
homepage = "https://github.com/disrupted/subclean"
repository = "https://github.com/disrupted/subclean"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "Environment :: Console",
]
include = [
    "LICENSE",
]

[tool.poetry.urls]
"Issues" = "https://github.com/disrupted/subclean/issues"

[tool.poetry.scripts]
subclean = 'subclean:main'

[tool.poetry.dependencies]
python = "^3.8"
loguru = "^0.5.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
